### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.obj
*.o
build.stderr
build.stdout

# Logs
logs
*.log

# Libraries
boost
jdk

Debug
shared_library/Debug
shared_library/Win32/
shared_library/x64/
shared_library/Release
shared_library/libsatscan.vcxproj.user

.vs/

test/Win32/

batch_application/Win32/
batch_application/x64/
batch_application/satscan.vcxproj.user

java_application/jni_application/build
java_application/jni_application/dist
satscanproject.VC.db
*.opendb

installers/izpack/mac/satscan2app/SaTScan.app

newmat/Win32/Release
newmat/x64/Release
shapelib/shapelib_1.2.10/Win32
shapelib/shapelib_1.2.10/x64/Release
xbase/xbase_2.0.0/xbase/Win32
xbase/xbase_2.0.0/xbase/x64
zlib/zlib-1.2.7/Win32
zlib/zlib-1.2.7/x64

test/test.vcxproj.user
installers/examples/*.txt
test/test-log.txt
test/test-results.xml
test/test-sets/multiple-trees/poisson.txt
test/test-sets/squish97/TreeTemporal-censordata.txt
test/test-sets/squish97/TreeTemporal-timeonly-censordata.txt
test/Release
/java_application/updater_application/nbproject/private/
/java_application/updater_application/dist/
/java_application/updater_application/build/
/java_application/jni_application/nbproject/private/