<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.satscan.SaTScan.satscan</string>
	<key>CFBundleName</key>
	<string>SaTScan-commandline</string>
	<key>CFBundleVersion</key>
	<string>9.7.0</string>
</dict>
</plist>
